<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.bigdataserver.dao.ChinaTotalDao">
    <insert id="insert" parameterType="com.bigdata.bigdataserver.vo.ChinaTotal">
        insert into chinatotal (today_confirm, today_suspect, today_heal, today_dead, today_severe, today_storeConfirm, today_input,
                                total_confirm, total_suspect, total_heal, total_dead, total_severe, total_input,
                                extData_noSymptom, extData_incrNoSymptom)
        values (#{todayConfirm}, #{todaySuspect}, #{todayHeal}, #{todayDead}, #{todaySevere}, #{todayStoreConfirm}, #{todayInput},
                #{totalConfirm}, #{totalSuspect}, #{totalHeal}, #{totalDead}, #{totalSevere}, #{totalInput},
                #{extDataNoSymptom}, #{extDataIncrNoSymptom})
    </insert>

    <select id="queryChinaTotal" resultType="com.bigdata.bigdataserver.vo.ChinaTotal">
        select id, today_confirm todayConfirm, today_suspect todaySuspect, today_heal todayHeal, today_dead todayDead, today_severe todaySevere, today_storeConfirm todayStoreConfirm, today_input todayInput,
               total_confirm totalConfirm, total_suspect totalSuspect, total_heal totalHeal, total_dead totalDead, total_severe totalSevere, total_input totalInput,
               extData_noSymptom extDataNoSymptom, extData_incrNoSymptom extDataIncrNoSymptom
        from chinatotal
    </select>
</mapper>